RewriteEngine On

# Rewrite /cv/contact to contact.php
RewriteRule ^cv/contact/?$ /cv/contact.php [L]

# Rewrite /cv/targets to list-targets.php
RewriteRule ^cv/targets/?$ /cv/list-targets.php [L]

# Rewrite /cv/letter/target to letter.php
RewriteRule ^cv/letter/([a-z0-9_-]+)/?$ /cv/letter.php?for=$1 [L]

# Rewrite /cv/target to index.php
RewriteRule ^cv/([a-z0-9_-]+)/?$ /cv/index.php?for=$1 [L]
