.page {
  margin: 0;
  width: initial;
  min-height: initial;
  box-shadow: initial;
  page-break-after: always;
  overflow: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Asap', sans-serif;
  font-size: 12px;
  line-height: 1.6;
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  color: #111;
}

header {
  background: #F3F3F3;
}

main {
  line-height: 1.25;
}

.page {
  position: relative;
}

figure {
  margin: 0;
}

label {
  display: block;
}

img {
  max-width: 100%;
}


footer {
  text-align: right;
  font-size: .8em;
  padding-top: 1em;
  margin-top: 1em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: table;
}


section {
  padding-top: 40px;
  display: block;
  page-break-before: always;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  font-weight: 100;
}

h3 {
  font-size: 18px;
  color: #aaa;
  font-weight: 100;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  margin: 0;
}

small {
  font-size: 12px;
  color: #aaa;
}

.big {
  font-size: 1.1em;
}

nav ul {
  padding: 1em;
  margin: 0 auto;
}

nav li {
  list-style: none;
  padding: .25em;
  border-bottom: dotted 1px #ddd;
  width: 100%;
}

.data li{
  display: flex;
  justify-content: space-between;
}

.social-links-menu {
  margin: 1em auto;
  padding: 1em;
  display: table;
}

.social-links-menu span {
  display: none;
}

.social-links-menu li {
  display: inline;
  padding: .25em;
}

.clear {
  clear: both;
}

.post {
  font-size: .75em;
  line-height: 1;
}

.title {
  border-bottom: #EE2455 dotted 1px;
  color: #EE2455;
}

.title span,
.right {
  float: right;
  font-weight: 100;
  text-align: right;
  color: #aaa;
}

.title span {
  font-size: 70%;
}

.sidebar {
  min-width: 220px;
  color: #666;
  border-left: dotted 1px #ccc;
  float: right;
  padding-left: 0;
  padding-top: 2em;
  margin-top: 2em;
  padding-left: 40px;
}

.sidebar figure {
  width: 140px;
  height: 140px;
  border-radius: 90px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2em;
}

.sidebar img {
  float: right;
  margin-right: 0;
  max-width: 100%;
}



.intro {
  font-size: 18px;
  color: #666;
  font-weight: 400;
}

.intro em {
  color: #bbb;
}



a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: black;
}

table.skill {
  width: 100%;
  margin-bottom: 20px;
}

table.skill td {
  border: none;
  border-bottom: #CCC dotted 1px;
  padding: 2px;
  margin: 2px;
}

table.skill td.first {
  width: 140px;
}

table.skill td.last {
  text-align: right;
  width: 40px;
  color: #aaa;
}

table.skill td span {
  height: 4px;
  display: block;
  background: #aaa;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

.print {
  display: block;
}

.no-print,
#gt-nvframe {
  display: none;
}



small {
  font-size: 10px;
}





.title {
  margin: 0;
  margin-top: 1em;
}

@media screen {
  body {
    font-size: 14px;
  }

  footer {
    position: fixed !important;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    display: block;
    background-color: #F3F3F3;
    height: 20px;
    padding: 5px;
    text-align: center;
  }

  .print {
    display: none;
  }

  .no-print,
  #gt-nvframe {
    display: initial;
  }

  header {
    padding: 40px;
    display: table;
    border-bottom: #CCC 1px solid;
    border-top: #CCC 1px solid;
    margin-bottom: 50px;
  }

  .sidebar .no-print {
    display: table;
  }

  footer {
    position: initial;
    border-top: 1px dotted #ddd;
  }

  main {
    line-height: 1.6;
  }

  .page {
    page-break-after: initial;
    position: initial;
  }

}

@media screen and (max-width: 800px) {
  header {
    text-align: center;
  }

  .row {
    display: block;
  }

  .intro {}

  .sidebar {
    border: none;
    width: 100%;
    padding: 0;
  }


}


#whatsapp-widget {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #25d366;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#whatsapp-widget a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

#whatsapp-widget img {
  width: 30px;
  height: 30px;
}